/* Color theme */
.section hr{
    border-top:1px solid #9B9B9B;
}
.dark, .darkForGround{
	color: white;
}
.dark>img{
    filter: invert(70%);-webkit-filter: invert(70%);
}
.dark, .darkBackGround{
    background-color: rgb(46, 38, 31);
}
.light,.mild, .lightForGround,.mildForGround{
	color: black;
}
.light, .lightBackGrount{
    background-color: white
}
.light>h1,.lightForGround>h1,.mild>h1,.mildForGround>h1{
	color:lightseagreen;
}

.mild, .mildBackGround{
    background-color: #F3EFE0;

}


/* Nav Styling */
nav {
    z-index: 10000000000000000;
}
#upArrow{
    filter: invert(70%);-webkit-filter: invert(70%);
    height:54px;
    width:54px;
    margin: 0 25%;

}
.start-button:hover > #upArrow{
    filter: invert(100%);-webkit-filter: invert(100%);
}


.header-nav{
    overflow: hidden;
    float:right;
    width: 100%;

}
.hiden{
    display: none;
}
.header-nav.nav-fixed{
    position: fixed;
    top: 0px;
}
.header-nav.nav-relative{
    position: relative;
    top:100vh;
}
.side-nav.nav-fixed{
    position: fixed;
    top: 30px;
}
.side-nav.nav-relative{
    position: relative;
    top: 100vh;
}
.side-nav{
    overflow: hidden;
    float: right;
    right: 5%;
    border-radius: 6px;
    width: 110px;
}
#nav-content{
    width: 100%;
    height: 300px;
}


.start-button{
    display: block;
    position: absolute;
    border-radius: 6px;
    height: 50px;
    bottom: 0;
    z-index: 3;
    right: 5%;
    width:110px; 
}

/* Large Screen */
@media only screen and(min-width: 700px){

}


/* Small screen */
@media only screen and (max-width: 800px){
    .side-nav{
        right: 2% !important;
    }
    .start-button{
        right: 2% !important;
    }
}

ul{
    padding:0px;
    margin:0px;
    width: 100%;
    height: 300px;
}

li{
    margin: auto;
    height:20%;
    width: 100%;
    vertical-align: center;
    text-align: center;
    color: #000;
    text-decoration: none;
}


li:hover {
    background-color: #555;
    color: white;
}
li.active:hover{
    background-color: #4CAF50;
}
.active {
    background-color: #4CAF50;
    color: white;
}

/* General */
.section{
    width: 100%;
    padding-bottom: 30px;
    padding-right: 10%;
	padding-left: 10%;
}
.Section-Title{
	margin: 0;
	padding-top: 10px;
	text-align: center;
}
.Section-Comment{
    margin:0;
    text-align: center;
    color: lightgrey;
}
.Sub-Section{
	padding-bottom: 30px;
}
.Footer-Section{
	margin:auto;
}

.col-item{
	display: inline-block;
}


/*Label*/
.sam-label{overflow: hidden;}
.label-title{
    display:inline-block;
    vertical-align: top;
}
.label-text{display:inline-block;}
.icon-label-outer{
}
.icon-label-inner{
    width: 150px;
    margin:0 auto;
}
.icon-icon-label{
   
    width:40px;
    height:40px;
}
.link-icon-label{

    vertical-align: center;
    text-align: center;
}

/* Cell item */
.Cell-Outer{
    padding-top:30px;
    padding-bottom: 30px;
}
.Cell-Inner{
    display: block;
    position: relative;
    margin:auto;
    width:80%;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Cell-Main-Image{
    width: 100%;
    height: 100%;
}
.Cell-Sub-Image{
    position: absolute;
    width:30px;
    height:30px;
    top:0;
    right:0;
}

/* Rating item */
.Rating-Item{}
.Rating-Tag{display: inline-block;width: 50%;}
.Rating-Dots{display: inline-block;width:50%;}
.Rate-Dot{height: 12px;width: 12px;}
.Rate-Dot-Gray{filter: invert(70%);-webkit-filter: invert(70%);}
.RatingDots	{width: 120px}
.RatingTag	{width:	120px}
.rateDot{height: 12px;width: 12px;}
.rateDotGray{filter: invert(70%);-webkit-filter: invert(70%);}









/* Small Screen CSS */
@media only screen and (max-width: 700px){
	.section-body{
		padding-left: 4%;
	}
	.section{
		padding-right: 10%;
		padding-left: 10%;
	}
	.Footer-Section{
		width: 90%;
	}
	.col-item{
		width: 100%;
    }
    .label-title{width:100%;}
    .label-text{width:100%;}
}
#footer>.section{
    padding-right: 10%;
    padding-left: 10%;
}



/* Large Screen CSS */
@media only screen and (min-width: 700px){

	.section-body{
		padding-left: 2%;
	}
	.section{
        padding-right: 20%;
		padding-left: 5%;
	}
	.Footer-Section{
		width:80%;
	}
	.col-item{
		width: 50%;
    }
    .label-title{width:20%;}
    .label-text{width:80%;}

}
@media only screen and (min-width: 1105px){
    .section{
        padding-right:20%;
        padding-left:10%;
    }
}
@media only screen and (min-width: 1205px){
    .section{
        padding-right:20%;
        padding-left:20%;
    }
}

.center{
    text-align: center;
}
